## Merge, Join, Concatenate and Compare

Pandas has various facilities for easily combining together ***Series*** or ***DataFrame*** with various kinds of set logic for the indexes and relational algebra functionality in the case of join/merge-type opearations.
We can also compare ***Series*** or ***DataFrame*** to summarize their differences.

### Concatenating Objects
The **concat()** function does all of the performing concatenation operations along an axis while performing set logic(Union or Intersection) of the indexes on the other axes.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df1 = pd.DataFrame(
{
    "A":["A0","A1","A2","A3"],
    "B":["B0","B1","B2","B3"],
    "C":["C0","C1","C2","C3"],
    "D":["D0","D1","D2","D3"]
},
    index = [0,1,2,3],
)
df1.head()

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [9]:
df2 = pd.DataFrame(
{
    "A":["A4","A5","A6","A7"],
    "B":["B4","B5","B6","B7"],
    "C":["C4","C5","C6","C7"],
    "D":["D4","D5","D6","D7"]
},
    index = [4,5,6,7],
)
df2.head()

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [11]:
df3 = pd.DataFrame(
{
    "A":["A8","A9","A10","A11"],
    "B":["B8","B9","B10","B11"],
    "C":["C8","C9","C10","C11"],
    "D":["D8","D9","D10","D11"]
},
    index = [8,9,10,11],
)
df3.head()

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [13]:
frames =[df1,df2,df3]

In [16]:
result = pd.concat(frames)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [18]:
result = pd.concat(frames,keys=["x","y","z"])
result.head()

      A   B   C   D
x 0  A0  B0  C0  D0
  1  A1  B1  C1  D1
  2  A2  B2  C2  D2
  3  A3  B3  C3  D3
y 4  A4  B4  C4  D4

In [19]:
result.loc["y"]

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

If we need to use the operation over several datasets, use a list comprehension

In [27]:
import os
path=r"C:\Users\Ashish Kumar\Desktop\Data Science\Pandas\CSV Folder"
for file in path:
    print(file)

C
:
\
U
s
e
r
s
\
A
s
h
i
s
h

K
u
m
a
r
\
D
e
s
k
t
o
p
\
D
a
t
a

S
c
i
e
n
c
e
\
P
a
n
d
a
s
\
C
S
V

F
o
l
d
e
r

In [26]:
!pip install glob

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob