#### Importing the pandas and Numpy

In [1]:
import numpy as np
import pandas as pd

#### Creating a Series Object

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

#### Creating a DataFrame

#### By passing a Numpy array, with a datetime index and labeled columns

In [4]:
dates = pd.date_range("20130101",periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))

In [5]:
df

                   A         B         C         D
2013-01-01  1.247240 -0.298577 -2.409358 -0.026067
2013-01-02 -1.617793  0.243773 -0.133399 -0.035955
2013-01-03 -1.736064  0.098297  0.463387 -0.304373
2013-01-04 -0.628743  1.492278  2.419546  0.186677
2013-01-05  1.187242 -0.847169  0.311317 -0.582514
2013-01-06  1.804090 -0.821284  1.979296  0.413671

##### Creating a DataFrame by passing a dict of objects

In [8]:
dic = {
    "A": 1.0,
    "B":pd.Timestamp(20130102),
    "C":pd.Series(1,index=list(range(4)),dtype='float32'),
    "D":np.array([3]*4,dtype='int32'),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"foo"
      }
df2 = pd.DataFrame(dic)
df2.head()

     A                             B    C  D      E    F
0  1.0 1970-01-01 00:00:00.020130102  1.0  3   test  foo
1  1.0 1970-01-01 00:00:00.020130102  1.0  3  train  foo
2  1.0 1970-01-01 00:00:00.020130102  1.0  3   test  foo
3  1.0 1970-01-01 00:00:00.020130102  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### Viewing Data