### Importing the pandas library

In [2]:
import pandas as pd

### Pandas data table representation
###### pandas DataFrame using python standard dictionary

In [3]:
df = pd.DataFrame(
     {
         "Name": [
          "Braund, Mr. Owen Harris",
          "Allen, Mr. William Henry",
         "Bonnell, Miss. Elizabeth", ],
         "Age": [22, 35, 58],
         "Sex": ["male", "male", "female"],
 }
 )

In [4]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame.A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers,floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the data.frame in R.
**Each Column in a DataFrame is a Series**

In [5]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [6]:
type(df['Age'])

pandas.core.series.Series

#### Do something with a DataFrame or Series

In [8]:
df['Age'].max()

58

If I am interested in some basic statistics of the numerical data of my data table

In [9]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000